#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #333;
  color: aqua;
}

img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}
.header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}